.review-list {
    display: flex;
    justify-content: space-between;
    margin: 10px;
  }
  
  .review-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    height: 400px;
    margin: 10px;
  }
  
  .review-card-content {
    padding: 16px;
  }
  
  .user-name {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .review-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  
  .review {
    max-height: 150px; 
    overflow-y: auto;
    scrollbar-color: gray; 
    scrollbar-width: thin;
  }
  
  .review::-webkit-scrollbar-thumb {
    background-color: gray;
  }
  
  .review::-webkit-scrollbar-track {
    background-color: #ddd;
  }
  
  