.place-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    transition: transform 0.3s ease-in-out, transform 1s ease-in-out;
}

.place-card {
    background-color: #e7e7e7;
    width: 300px;
    box-sizing: border-box;
    border-radius: 10px;
    /* margin-left: 3px; */
    transition: transform 0.5s ease-in-out;
    transform-origin: center bottom;
    position: relative;
}

.place-card:hover {
    transform: scale(1.05);
}

.place-image {
    width: 280px;
    height: 150px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 7px 20px 10px #000000a6; 
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.place-card-content {
    margin-top: 10px;
    text-align: center;
    animation: slideIn 0.7s ease-in-out;
    transition: transform 0.5s ease-in-out;
}

@keyframes slideIn {
    0% {
        transform: translateX(-50px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.place-name {
    text-align: center;
    margin: 0;
}

.place-rating {
    text-align: center;
}

.place-name:hover {
    transition: 0.5s ease-in-out;
}