.emergency-section {
    text-align: center;
}

.commen-emergency {
    text-align: left;
    margin: 0 auto;
    max-width: 280px; 
}


.emergency-container{
    display: flex;
}

.emergency-container h4{
    margin-left: -60px;
}

.places {
    flex: 5; 
    margin-left: 10%;}

.embassy {
    flex: 5; 
    margin-left: 10%;}