.detailsCard{
    width: 500px;
    height: 125px;
    display: block;
    text-align: left;
    color: White;
    font-size: 12px;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.4);
}
.contact-info{
    
    display: inline-flex;
    position: relative;
    margin-top: -25px;
    padding-inline: 5px;
    flex-flow: row;
    column-gap: 50px;
    
}

h1{
    margin-left: 10px;
}

p{
    margin-left: 10px;
}
.contact-info:hover{
    color:rgb(123, 182, 240);
}

@media screen and (max-width: 767px) {
    .detailsCard{
        width:min-content;
        overflow:hidden;
        height: 60px;
        display: block;
        text-align: left;
        color: White;
        font-size: 12px;
        border-radius: 10px;
        background-color: rgba(0,0,0,0.4);
    }
}