/* SearchBar.css */

.search-bar {
    padding: 10px;
  }
  
  .search-bar input {
    padding-right: 100px;
    margin-right: 5px;
  }
  
  .search-bar button {
    outline: none; /* Remove default outline on button click */
    border: none; /* Remove default button border */
    cursor: pointer;
    transition: background-color 0.3s; /* Add a smooth transition for color changes */
  }
  

  .search-bar input {
    outline: none; /* Remove default input outline on click */
    transition: border-color 0.3s; /* Add a smooth transition for border color changes */
  }
  
  .search-bar input:focus {
    border-color:  rgb(0, 0, 0);; /* Change border color on focus */
  }
  
  .search-bar button:hover {
    background-color: rgba(47, 47, 47, 0.199); /* Change background color on hover */
  }
  
  .search-bar button:active {
    background-color:  rgb(23, 126, 160);; /* Change background color on click */
  }
