.body {
  color: hsl(0, 0%, 0%);
  /* background: linear-gradient(to bottom right, rgb(11, 88, 114), #ffffff); */
}

.visitingPlace,
.Lodgings,
.stories {
  width: 97%;
  margin: 0px auto;
  color: #283d44;
}

.place,
.lodging,
.communityStories {
  right: 0;
  /* background: linear-gradient(to right, rgb(17, 169, 220), rgb(60, 124, 145, 0)); */
  color: black;
  margin-left: 30px;
  margin-bottom: 0px;
  padding-left: 20px;
  font-weight: bold;
  color: #0c4a61;
}