.body {
  color: hsl(0, 0%, 0%);
  /* background: linear-gradient(to bottom right, rgb(11, 88, 114), #ffffff); */
}

.visitingPlace,
.Lodgings{
  width: 97%;
  margin: 0px auto;
  color: #283d44;
}

.last_container {
  display: flex;
}

.stories{
  flex: 15;
  margin-left: 29px;
}

.secondAdd{
  flex: 4 1;
  margin-right: 0px;
  margin-top: 20%;
  padding-right: 10px;
  display: flex;
  /* justify-content: flex-end;  */
  justify-content: center; 
  position: relative
}

.place,
.lodging,
.communityStories {
  right: 0;
  /* background: linear-gradient(to right, rgb(17, 169, 220), rgb(60, 124, 145, 0)); */
  color: black;
  margin-left: 30px;
  margin-bottom: 0px;
  padding-left: 20px;
  font-weight: bold;
  color: #0c4a61;
}

