.topLineOPt{
    display: flex;
    position: fixed;  
}

.addPlace{
    margin-top: 4px;
    margin-left:95%;  
    position: fixed;
    cursor: pointer;
}


.homes{
    margin-left: 1%;
    position: fixed;
    cursor: pointer;
   
}

.homes .home:hover{
    color:rgb(27, 97, 109);
}

.addPlace .loc:hover {
    color:rgb(27, 97, 109);
}

.homes .home{
    font-size: 40px;
}

.addPlace .loc{
    font-size: 40px;
}